<div class="permanent-card" (click)="onClick($event)">
    <div class="card-name">{{ card.name }}</div>
    <div class="card-art-container">
        <img [src]="card.image" alt="{{card.name}}" class="card-art"/>
        <div class="card-info text-center">
            @if (card.type.includes("Creature")) {
                <div class="card-stats">{{ card.power }}/{{ card.toughness }}</div>
            }
          @if (card.type.includes("Planeswalker")) {
            <div class="card-stats">{{ card.loyalty }}</div>
          }
        </div>
    </div>
</div>

<!-- Menú contextual -->
@if (contextMenuVisible) {
  <div
    class="context-menu"
    [style.top.px]="contextMenuPosition.y"
    [style.left.px]="contextMenuPosition.x"
    (click)="contextMenuVisible = false">
    <ul>
      @for (cost of getActivatedAbilities(card); track cost) {
      <li (click)="executeAction('activate', cost)">
        Activar ({{ cost }})
      </li>
      }
      <li (click)="executeAction('details')">Ver detalles</li>
      <li (click)="executeAction('backToHand')">Devolver a la Mano</li>
      <li (click)="executeAction('destroy')">Destruir</li>
      <li (click)="executeAction('exile')">Exiliar</li>
    </ul>
  </div>
}

@if (subMenuVisible) {
  <div
    class="context-menu"
    [style.top.px]="contextMenuPosition.y+75"
    [style.left.px]="contextMenuPosition.x+75"
    (click)="subMenuVisible = false">

    <ul>
      <li (click)="resolveCommanderZone('normal')">Zona normal</li>
      <li (click)="resolveCommanderZone('commander')">Zona de comandante</li>
    </ul>
  </div>
}
