<button class="permanent-card"
     (click)="onClick($event)">
    <div class="card-name">{{ card.name }}</div>
    <div class="card-art-container">
      @if (card.tapped) {
        <div class="tapped-overlay">
          <img src="https://svgs.scryfall.io/card-symbols/T.svg" alt="Tapped" class="tap-icon"/>
        </div>
      }
      <img [src]="card.image" alt="{{card.name}}" class="card-art"/>

      <div class="card-info text-center">
            @if (card.type.includes("Creature")) {
                <div class="card-stats">{{ card.power }}/{{ card.toughness }}</div>
            }
          @if (card.type.includes("Planeswalker")) {
            <div class="card-stats">{{ card.loyalty }}</div>
          }
        </div>
    </div>
</button>

<!-- Menú contextual -->
@if (contextMenuVisible) {
  <button
    class="context-menu"
    [style.top.px]="contextMenuPosition.y"
    [style.left.px]="contextMenuPosition.x"
    (click)="contextMenuVisible = false">
    <ul>
      @for (cost of getActivatedAbilities(card); track cost) {
        <li>
          <button (click)="executeAction('activate', cost)">
            Activar ({{ cost }})
          </button>
        </li>
      }
      @if (card.originalCard.card_faces?.length > 1) {
        <li>
          <button (click)="executeAction('transform')">Transformar</button>
        </li>
      }
      <li>
        <button (click)="executeAction('details')">Ver detalles</button>
      </li>
      <li>
        <button (click)="executeAction('backToHand')">Devolver a la Mano</button>
      </li>
      <li>
        <button (click)="executeAction('destroy')">Destruir</button>
      </li>
      <li>
        <button (click)="executeAction('exile')">Exiliar</button>
      </li>
      <li>
        <button (click)="toggleTap()">
          {{ card.tapped ? 'Enderezar' : 'Girar' }}
        </button>
      </li>
    </ul>
  </button>
}

@if (subMenuVisible) {
  <button
    class="context-menu"
    [style.top.px]="contextMenuPosition.y+75"
    [style.left.px]="contextMenuPosition.x+75"
    (click)="subMenuVisible = false">
    <ul>
      <li>
        <button (click)="resolveCommanderZone('normal')">Zona normal</button>
      </li>
      <li>
        <button (click)="resolveCommanderZone('commander')">Zona de comandante</button>
      </li>
    </ul>
  </button>
}
