<div>
  <textarea type="text" name="task" rows="3" [(ngModel)]="deckInput" placeholder="Pega tu mazo aquí... (Formato MTGO)"></textarea>
  <button type="button" (click)="processDeckInput()">Cargar Mazo</button>
</div>

@if (deckCards.length > 0) {
  <div class="row">
    @for (card of deckCards; track card.id) {
      @defer (on viewport){
        <div class="col-md-6 mb-3">
          <div class="card">
            <div class="card-body text-center">
              <h3 style="font-size: 20px; min-height: 48px;">{{ card.quantity + " " + card.name}}</h3>
              @if (card.card_faces && !card.isSingleImageDoubleFace) {
                <img [src]="card.card_faces[card.currentFaceIndex]?.image_uris?.normal" alt="{{ card.name }}" class="img-fluid"
                     style="max-width: 100%; height: auto;">
              } @else {
                <img [src]="card.image_uris?.normal" alt="{{ card.name }}" class="img-fluid"
                     style="max-width: 100%; height: auto;">
              }
              <!-- Mostrar botón de Transformar solo si la carta tiene dos caras -->
              @if (card.card_faces && !card.isSingleImageDoubleFace) {
                <button (click)="toggleCardFace(card)">Transformar</button>
              }
             <!-- <p><span [innerHTML]="card.sanitizedManaCost"></span></p>
              <p><span [innerHTML]="card.sanitizedProducedMana"></span></p>
              <p><span [innerHTML]="card.type_line"></span></p>
              <p><span [innerHTML]="card.cmc"></span></p>
              <p><span [innerHTML]="card.color_identity"></span></p>
              <p><span [innerHTML]="card.power"></span> / <span [innerHTML]="card.toughness"></span></p>
              <p><span [innerHTML]="card.keywords"></span></p>
              <p><span [innerHTML]="card.sanitizedOracleText"></span></p>-->
            </div>
          </div>
        </div>
      }
      @placeholder {
        <p>Carta por cargar</p>
      }
    }
  </div>
}
