.modal-dialog.modal-lg {
  max-width: 35%;
}

.battlefield-container {
  height: 600px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.battlefield-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  min-height: 110px;
}
