<div class="graveyard-container">
  <img src="../public/missing-image.png"
       alt="Graveyard"
       class="graveyard-image"
       (click)="openModal()">
</div>

<!-- Modal para el cementerio y exilio -->
<div class="modal fade" id="graveyardModal" tabindex="-1" aria-labelledby="graveyardModalLabel" aria-hidden="true" style="display: none">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="tabs">
        <button (click)="showMainDeck()">Cementerio</button>
        <button (click)="showSideboard()">Exilio</button>
      </div>
      <div class="modal-header">
        <h5 class="modal-title" id="graveyardModalLabel">Selecciona las cartas que deseas mover</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <app-zone-viewer
          [zoneName]="isExile ? 'Exilo' : 'Cementerio'"
          [zoneType]="isExile ? 'exile' : 'graveyard'"
          [cards]="isExile ? exileCards : graveyardCards">
        </app-zone-viewer>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
  </div>
